[submodule "frontend"]
	path = frontend
	url = https://github.com/MDF05/frontend-linkedin-automation.git
[submodule "backend"]
	path = backend-asu
	url = https://github.com/MDF05/backend-automation-linkedin.git
